*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
 display: flex;
 flex-direction: column;

 
  /* background-image:linear-gradient(90deg, #97d9e1 0%, #d9afd9 100%);
   */
   background-color: #3a3b3c;
   color: #fff;
   justify-content: space-between;
}
main{
    flex: 1;
    
  
}



h4{padding: 10px;
	text-align: center;
}
h1{
	font-size: 25px;
	text-align: center;

}
h2{
	font-size: 20px;
}
h3{	
	font-size: 20px;
	 font-family: 'Montserrat', sans-serif;
	}
.contt{height: 500px;
  border-radius: 10px;
  background-color: #fff;
}
.bar{
  background-color: #22272b;
  display: flow-root;
  padding: 0 5%;

}
#check{
  display: none;
}
header{
    
    background-color: #222;
    color: #fff;
}
#header{
    padding: 10px;
    place-items: center;
    display: flex;
    height: 64px;
    justify-content: space-between;
}


.logo a{
color: #fff;
  font-size: 30px;
  font-weight: 600;
  line-height: 70px;
  text-decoration: none;

}
ul{
    cursor: pointer;
    list-style: none;
    color: white;
}

ul li a{
     background-color: #d9afd9;
    padding: 10px;
    border-radius: 4px;
    color: #333;
    text-decoration: none;

}

.cont{
    margin: 0 auto;
 
  text-align: center;
  padding: 10px;
  width: 80%;

 
  
}
#form-container{
    background-color: #22272b;
    max-width: 360px;
    
    margin: 0 auto;
    margin-top:20px;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    
}
form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    
}
form input{
    color: #121212;
    outline: none;
    padding: 10px;
      border-radius: 2px;
      border:none
}
form button{
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 0 auto;cursor: pointer;
    background-color: #d9afd9;
    color: #333;
}
.menu{
    border: 2 px solid #000;
  width: 200px;
  margin: auto;
  height: 60px;
  
  
  }
  footer{
    text-align: center;


    background-color: #000;
    padding: 20px;

  }


